{{ partial "header" .}}

<h1>{{ .Title }}</h1>
<div class="tags">
  {{ partial "portfolio/tags" .}}
</div>
Martin ändrade src: single.html
<p>{{ .Params.Thumbnail }}</p>
<p>{{ .Params.folderName }}</p>
<p>{{ .Params.mainImage }}</p>
<img title="{{.Title}}" alt="{{.Title}}" src="{{ .Params.Thumbnail }}" />

{{ .Content }}

{{ if .Params.testimonial }}
<h3>Testimonial</h3>
<div class="testimonial-list">
  {{ with .Params.testimonial }}
  {{ partial "portfolio/testimonial" . }}
  {{ end }}
</div>
{{ end }}

{{ partial "footer" .}}